# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [36]:
#1
street = 'street 3'
city = 'Nasr city'
country = 'Egypt'
address = street + city  + country
print('1) Street name is: ' + street + '\n   city name is: ' + city + '\n   country name is: ' + country)
print()
#second way
print(f'  Street name is: {street}')
print(f'  city name is: {city}')
print(f'  country name is: {country}')
print()

#2
s = "Earth revolves around the sun"
print('2) '+s[6:14])
print('   '+ s[-23:-15])
print()

#3
x = '3'
y = '4'
print(f'3) I eat {x} veggies and {y} fruits daily.\n')

#4
s = 'maine 200 banana khaye'
s = s[:10] +'samosa'+ s[16:]
print('4) '+s)

1) Street name is: street 3
   city name is: Nasr city
   country name is: Egypt

  Street name is: street 3
  city name is: Nasr city
  country name is: Egypt

2) revolves
   revolves

3) I eat 3 veggies and 4 fruits daily.

4) maine 200 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [3]:
print("#1")
# 1

expense = [2200, 2350, 2600, 2130, 2190]
#            jan   feb  mar   apr   may
#             0     1    2     3    4
print("1) Dollars I spent in feb compred to Jan:", expense[1]-expense[0])

print("2) Total expense in the first quarter of the year:", expense[0]+expense[1]+expense[2])

i=0
while i<len(expense):
    if expense[i] == 2000:
        print("3) month", i+1, "spent exactly 2000 dollars")
        break
    i+=1
else:
    print("4) No month spent exactly 2000 dollars")
    
expense.append(1980)
print("4)", expense)

expense[3] -= 200
print("5)", expense)

print()

print("#2")
# 2

heros=['spider man','thor','hulk','iron man','captain america']
print("1) Length of the list:", len(heros))

heros.append('black panther')
print("2)", heros)

heros.remove('black panther')
heros.insert(3, 'black panther')
print("3)", heros)

hero = ['doctor strange']
heros = heros[:1] + hero + heros [3:]
print('4)',heros)

heros.sort()
print('5)',heros)

dir(heros)

#1
1) Dollars I spent in feb compred to Jan: 150
2) Total expense in the first quarter of the year: 7150
4) No month spent exactly 2000 dollars
4) [2200, 2350, 2600, 2130, 2190, 1980]
5) [2200, 2350, 2600, 1930, 2190, 1980]

#2
1) Length of the list: 5
2) ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
3) ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
4) ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
5) ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [5]:
i = 1
n = 0
while i <= 9:
    if i%2!=0:
        print(" " * (9-i+n) + "*" * i)
        n += 1
    i += 1
    
i = 1
n = 0
while i <= 9:
    if i%2==0:
        print(" " * (i+3-n) + "*" * (9-i))
        n += 1
    i += 1

        *
       ***
      *****
     *******
    *********
     *******
      *****
       ***
        *